abk-sda-app/web services middleware/client_soap_ws/src/main/java/proxy/.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="BanqueWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://127.0.0.1:8787/?xsd=1"/>
</xsd:schema>
</types>
<message name="euroToXofConversion">
<part name="parameters" element="tns:euroToXofConversion"/>
</message>
<message name="euroToXofConversionResponse">
<part name="parameters" element="tns:euroToXofConversionResponse"/>
</message>
<message name="getAccount">
<part name="parameters" element="tns:getAccount"/>
</message>
<message name="getAccountResponse">
<part name="parameters" element="tns:getAccountResponse"/>
</message>
<message name="listAccount">
<part name="parameters" element="tns:listAccount"/>
</message>
<message name="listAccountResponse">
<part name="parameters" element="tns:listAccountResponse"/>
</message>
<portType name="BanqueService">
<operation name="euroToXofConversion">
<input wsam:Action="http://ws/BanqueService/euroToXofConversionRequest" message="tns:euroToXofConversion"/>
<output wsam:Action="http://ws/BanqueService/euroToXofConversionResponse" message="tns:euroToXofConversionResponse"/>
</operation>
<operation name="getAccount">
<input wsam:Action="http://ws/BanqueService/getAccountRequest" message="tns:getAccount"/>
<output wsam:Action="http://ws/BanqueService/getAccountResponse" message="tns:getAccountResponse"/>
</operation>
<operation name="listAccount">
<input wsam:Action="http://ws/BanqueService/listAccountRequest" message="tns:listAccount"/>
<output wsam:Action="http://ws/BanqueService/listAccountResponse" message="tns:listAccountResponse"/>
</operation>
</portType>
<binding name="BanqueServicePortBinding" type="tns:BanqueService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="euroToXofConversion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BanqueWS">
<port name="BanqueServicePort" binding="tns:BanqueServicePortBinding">
<soap:address location="http://127.0.0.1:8787/"/>
</port>
</service>
</definitions>